<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.config.mapper.BasicSettingMapper">
  <resultMap id="BaseResultMap" type="com.qf.config.entity.BasicSetting">
    <!--@mbg.generated-->
    <!--@Table basic_setting-->
    <id column="basic_id" jdbcType="INTEGER" property="basicId" />
    <result column="app_countdown" jdbcType="INTEGER" property="appCountdown" />
    <result column="login_countdown" jdbcType="INTEGER" property="loginCountdown" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    basic_id, app_countdown, login_countdown
  </sql>
</mapper>