<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.config.mapper.DropdownConfigMapper">
    <resultMap id="BaseResultMap" type="com.qf.config.entity.DropdownConfig">
        <!--@mbg.generated-->
        <!--@Table dropdown_config-->
        <id column="dropdown_id" jdbcType="BIGINT" property="dropdownId"/>
        <result column="key_cn" jdbcType="VARCHAR" property="keyCn"/>
        <result column="key_en" jdbcType="VARCHAR" property="keyEn"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="notes" jdbcType="VARCHAR" property="notes"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        dropdown_id,
        key_cn,
        key_en,
        `status`,
        notes
    </sql>
    <resultMap id="selectListResultMap" type="com.qf.config.common.vo.DropdownConfigVO" extends="BaseResultMap">
        <collection property="list" ofType="com.qf.config.entity.DropdownValue" column="dropdown_id"
        select="com.qf.config.mapper.DropdownValueMapper.searchValues"/>
    </resultMap>

    <select id="selectList" resultMap="selectListResultMap">
        select distinct c.dropdown_id, c.key_cn, c.status, c.notes
        from dropdown_config c inner join dropdown_value v on c.dropdown_id = v.dropdown_id
        <where>
            <if test="kw != null and kw != ''">
                c.key_cn like concat('%', #{kw}, '%') or v.value_cn like concat('%', #{kw}, '%')
            </if>
        </where>
    </select>
</mapper>