<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.cabinet.mapper.ExpressBoxMapper">

    <resultMap id="BaseResultMap" type="com.qf.cabinet.entity.ExpressBox">
        <id column="express_box_id" jdbcType="BIGINT" property="expressBoxId"/>
        <result column="box_id" jdbcType="TINYINT" property="boxId"/>
        <result column="cabinet_id" jdbcType="BIGINT" property="cabinetId"/>
        <result column="position_line" jdbcType="VARCHAR" property="positionLine"/>
        <result column="position_column" jdbcType="VARCHAR" property="positionColumn"/>
        <result column="box_type" jdbcType="INTEGER" property="boxType"/>
        <result column="width" property="width"/>
        <result column="height" property="height"/>
        <result column="depth" property="depth"/>
        <result column="storage_type" jdbcType="INTEGER" property="storageType"/>
        <result column="temperature" jdbcType="VARCHAR" property="temperature"/>
        <result column="door_status" jdbcType="INTEGER" property="doorStatus"/>
        <result column="open_count" jdbcType="TINYINT" property="openCount"/>
        <result column="last_open_time" jdbcType="TIMESTAMP" property="lastOpenTime"/>
        <result column="usage_status" jdbcType="INTEGER" property="usageStatus"/>
        <result column="starter" jdbcType="INTEGER" property="starter"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
    </resultMap>

    <resultMap id="ListBaseResultMap" type="com.qf.cabinet.entity.ExpressBox" extends="BaseResultMap">
        <collection property="logBoxList" javaType="java.util.List" column="express_box_id"
                    select="com.qf.cabinet.mapper.LogBoxMapper.selectByBoxId"/>
    </resultMap>
    <select id="selectByBoxId" resultMap="ListBaseResultMap">
        select b.express_box_id,
               b.box_id,
               b.cabinet_id,
               b.position_line,
               b.position_column,
               b.box_type,
               b.storage_type,
               b.temperature,
               b.door_status,
               b.open_count,
               b.last_open_time,
               b.usage_status
        from express_box b
        <where>
            b.express_box_id = #{boxId}
        </where>
    </select>

    <select id="selectByCabinetId" resultMap="BaseResultMap">
        select b.express_box_id,
               b.box_id,
               b.cabinet_id,
               b.position_line,
               b.position_column,
               b.box_type,
               b.storage_type,
               b.height,
               b.depth,
               b.width,
               b.temperature,
               b.door_status,
               b.open_count,
               b.last_open_time,
               b.usage_status,
               b.starter,
               b.version
        from express_box b
        <where>
            b.cabinet_id = #{cabinetId}
        </where>
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        select b.express_box_id,
               b.box_id,
               b.cabinet_id,
               b.position_line,
               b.position_column,
               b.box_type,
               b.storage_type,
               b.height,
               b.depth,
               b.width,
               b.temperature,
               b.door_status,
               b.open_count,
               b.last_open_time,
               b.usage_status,
               b.starter,
               b.version
        from express_box b
        <where>
            b.cabinet_id = #{expressBox.cabinetId}
            <if test="expressBox.boxType != null">
                and b.box_type = #{expressBox.boxType}
            </if>
            <if test="expressBox.doorStatus != null">
                and b.door_status = #{expressBox.doorStatus}
            </if>
            <if test="expressBox.storageType != null">
                and b.storage_type = #{expressBox.storageType}
            </if>
            <if test="expressBox.usageStatus != null">
                and b.usage_status = #{expressBox.usageStatus}
            </if>
        </where>
    </select>

    <update id="update">
        UPDATE express_box b
        SET b.position_line=#{expressBox.positionLine},
        b.position_column=#{expressBox.positionColumn},
        b.box_type = #{expressBox.boxType},
        <if test="expressBox.height != null and expressBox.height != ''">
            b.height = #{expressBox.height},
        </if>
        <if test="expressBox.width != null and expressBox.width != ''">
            b.width = #{expressBox.width},
        </if>
        <if test="expressBox.depth != null and expressBox.depth != ''">
            b.depth = #{expressBox.depth},
        </if>
        b.storage_type = #{expressBox.storageType}
        <where>
            b.cabinet_id = #{expressBox.cabinetId}
            and
            b.box_id = #{expressBox.boxId}
        </where>
    </update>

</mapper>