<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.advertisement.mapper.AdvertisingMapper">
    <resultMap id="BaseResultMap" type="com.qf.advertisement.entity.Advertising">
        <!--@mbg.generated-->
        <!--@Table advertising-->
        <id column="advertising_id" jdbcType="BIGINT" property="advertisingId"/>
        <result column="advertising_title" jdbcType="VARCHAR" property="advertisingTitle"/>
        <result column="video_id" jdbcType="BIGINT" property="videoId"/>
        <result column="push_type" jdbcType="TINYINT" property="pushType"/>
        <result column="push_time" jdbcType="TIMESTAMP" property="pushTime"/>
        <result column="expiry_time" jdbcType="TIMESTAMP" property="expiryTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        advertising_id,
        advertising_title,
        video_id,
        push_type,
        push_time,
        expiry_time,
        create_time,
        `status`
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from advertising
        where advertising_id = #{advertisingId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete
        from advertising
        where advertising_id = #{advertisingId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.qf.advertisement.entity.Advertising">
        <!--@mbg.generated-->
        insert into advertising (advertising_id, advertising_title, video_id,
                                 push_type, push_time, expiry_time,
                                 create_time, `status`)
        values (#{advertisingId,jdbcType=BIGINT}, #{advertisingTitle,jdbcType=VARCHAR}, #{videoId,jdbcType=BIGINT},
                #{pushType,jdbcType=TINYINT}, #{pushTime,jdbcType=TIMESTAMP}, #{expiryTime,jdbcType=TIMESTAMP},
                #{createTime,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT})
    </insert>
    <insert id="insertSelective" parameterType="com.qf.advertisement.entity.Advertising">
        <!--@mbg.generated-->
        insert into advertising
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="advertisingId != null">
                advertising_id,
            </if>
            <if test="advertisingTitle != null">
                advertising_title,
            </if>
            <if test="videoId != null">
                video_id,
            </if>
            <if test="pushType != null">
                push_type,
            </if>
            <if test="pushTime != null">
                push_time,
            </if>
            <if test="expiryTime != null">
                expiry_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="status != null">
                `status`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="advertisingId != null">
                #{advertisingId,jdbcType=BIGINT},
            </if>
            <if test="advertisingTitle != null">
                #{advertisingTitle,jdbcType=VARCHAR},
            </if>
            <if test="videoId != null">
                #{videoId,jdbcType=BIGINT},
            </if>
            <if test="pushType != null">
                #{pushType,jdbcType=TINYINT},
            </if>
            <if test="pushTime != null">
                #{pushTime,jdbcType=TIMESTAMP},
            </if>
            <if test="expiryTime != null">
                #{expiryTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.qf.advertisement.entity.Advertising">
        <!--@mbg.generated-->
        update advertising
        <set>
            <if test="advertisingTitle != null">
                advertising_title = #{advertisingTitle,jdbcType=VARCHAR},
            </if>
            <if test="videoId != null">
                video_id = #{videoId,jdbcType=BIGINT},
            </if>
            <if test="pushType != null">
                push_type = #{pushType,jdbcType=TINYINT},
            </if>
            <if test="pushTime != null">
                push_time = #{pushTime,jdbcType=TIMESTAMP},
            </if>
            <if test="expiryTime != null">
                expiry_time = #{expiryTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=TINYINT},
            </if>
        </set>
        where advertising_id = #{advertisingId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.qf.advertisement.entity.Advertising">
        <!--@mbg.generated-->
        update advertising
        set advertising_title = #{advertisingTitle,jdbcType=VARCHAR},
            video_id          = #{videoId,jdbcType=BIGINT},
            push_type         = #{pushType,jdbcType=TINYINT},
            push_time         = #{pushTime,jdbcType=TIMESTAMP},
            expiry_time       = #{expiryTime,jdbcType=TIMESTAMP},
            create_time       = #{createTime,jdbcType=TIMESTAMP},
            `status`          = #{status,jdbcType=TINYINT}
        where advertising_id = #{advertisingId,jdbcType=BIGINT}
    </update>
</mapper>