<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.advertisement.mapper.AppAdvertisingMapper">
  <resultMap id="BaseResultMap" type="com.qf.advertisement.entity.AppAdvertising">
    <!--@mbg.generated-->
    <!--@Table app_advertising-->
    <id column="app_id" jdbcType="INTEGER" property="appId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="cn_image" jdbcType="VARCHAR" property="cnImage" />
    <result column="en_image" jdbcType="VARCHAR" property="enImage" />
    <result column="push_time" jdbcType="TIMESTAMP" property="pushTime" />
    <result column="expire_date" jdbcType="TIMESTAMP" property="expireDate" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="push_way" jdbcType="INTEGER" property="pushWay" />
    <result column="link_url" jdbcType="VARCHAR" property="linkUrl" />
    <result column="link_title" jdbcType="VARCHAR" property="linkTitle" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    app_id, title, cn_image, en_image, push_time, expire_date, create_time, `status`, 
    push_way, link_url, link_title
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from app_advertising
    where app_id = #{appId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from app_advertising
    where app_id = #{appId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qf.advertisement.entity.AppAdvertising">
    <!--@mbg.generated-->
    insert into app_advertising (app_id, title, cn_image, 
      en_image, push_time, expire_date, 
      create_time, `status`, push_way, 
      link_url, link_title)
    values (#{appId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{cnImage,jdbcType=VARCHAR}, 
      #{enImage,jdbcType=VARCHAR}, #{pushTime,jdbcType=TIMESTAMP}, #{expireDate,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{pushWay,jdbcType=INTEGER}, 
      #{linkUrl,jdbcType=VARCHAR}, #{linkTitle,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qf.advertisement.entity.AppAdvertising">
    <!--@mbg.generated-->
    insert into app_advertising
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="appId != null">
        app_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="cnImage != null">
        cn_image,
      </if>
      <if test="enImage != null">
        en_image,
      </if>
      <if test="pushTime != null">
        push_time,
      </if>
      <if test="expireDate != null">
        expire_date,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="pushWay != null">
        push_way,
      </if>
      <if test="linkUrl != null">
        link_url,
      </if>
      <if test="linkTitle != null">
        link_title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="appId != null">
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="cnImage != null">
        #{cnImage,jdbcType=VARCHAR},
      </if>
      <if test="enImage != null">
        #{enImage,jdbcType=VARCHAR},
      </if>
      <if test="pushTime != null">
        #{pushTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expireDate != null">
        #{expireDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="pushWay != null">
        #{pushWay,jdbcType=INTEGER},
      </if>
      <if test="linkUrl != null">
        #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="linkTitle != null">
        #{linkTitle,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.advertisement.entity.AppAdvertising">
    <!--@mbg.generated-->
    update app_advertising
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="cnImage != null">
        cn_image = #{cnImage,jdbcType=VARCHAR},
      </if>
      <if test="enImage != null">
        en_image = #{enImage,jdbcType=VARCHAR},
      </if>
      <if test="pushTime != null">
        push_time = #{pushTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expireDate != null">
        expire_date = #{expireDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="pushWay != null">
        push_way = #{pushWay,jdbcType=INTEGER},
      </if>
      <if test="linkUrl != null">
        link_url = #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="linkTitle != null">
        link_title = #{linkTitle,jdbcType=VARCHAR},
      </if>
    </set>
    where app_id = #{appId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.advertisement.entity.AppAdvertising">
    <!--@mbg.generated-->
    update app_advertising
    set title = #{title,jdbcType=VARCHAR},
      cn_image = #{cnImage,jdbcType=VARCHAR},
      en_image = #{enImage,jdbcType=VARCHAR},
      push_time = #{pushTime,jdbcType=TIMESTAMP},
      expire_date = #{expireDate,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=INTEGER},
      push_way = #{pushWay,jdbcType=INTEGER},
      link_url = #{linkUrl,jdbcType=VARCHAR},
      link_title = #{linkTitle,jdbcType=VARCHAR}
    where app_id = #{appId,jdbcType=INTEGER}
  </update>
</mapper>