<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.advertisement.mapper.VideoMapper">
  <resultMap id="BaseResultMap" type="com.qf.advertisement.entity.Video">
    <!--@mbg.generated-->
    <!--@Table video-->
    <id column="video_id" jdbcType="BIGINT" property="videoId" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="size" jdbcType="BIGINT" property="size" />
    <result column="duration" jdbcType="SMALLINT" property="duration" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    video_id, url, `size`, duration
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from video
    where video_id = #{videoId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from video
    where video_id = #{videoId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="video_id" keyProperty="videoId" parameterType="com.qf.advertisement.entity.Video" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into video (url, `size`, duration
      )
    values (#{url,jdbcType=VARCHAR}, #{size,jdbcType=BIGINT}, #{duration,jdbcType=SMALLINT}
      )
  </insert>
  <insert id="insertSelective" keyColumn="video_id" keyProperty="videoId" parameterType="com.qf.advertisement.entity.Video" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into video
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="url != null">
        url,
      </if>
      <if test="size != null">
        `size`,
      </if>
      <if test="duration != null">
        duration,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=BIGINT},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.advertisement.entity.Video">
    <!--@mbg.generated-->
    update video
    <set>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        `size` = #{size,jdbcType=BIGINT},
      </if>
      <if test="duration != null">
        duration = #{duration,jdbcType=SMALLINT},
      </if>
    </set>
    where video_id = #{videoId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.advertisement.entity.Video">
    <!--@mbg.generated-->
    update video
    set url = #{url,jdbcType=VARCHAR},
      `size` = #{size,jdbcType=BIGINT},
      duration = #{duration,jdbcType=SMALLINT}
    where video_id = #{videoId,jdbcType=BIGINT}
  </update>
</mapper>